/* Font and General Styling */
@media (min-width: 769px) {
    body {
        font-family: 'Open Sans', 'Noto Emoji', sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        background-image: url('https://img.freepik.com/free-photo/digital-art-beautiful-mountains_23-2151123686.jpg');
    }

    body, html {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    #video-container {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    /* Navigation Bar Styling */
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #4B0082; /* Purple background */
        z-index: 1;
        overflow: visible;
        border-radius: 0.2rem;
    }

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2; /* Text color for navigation links */
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 0.5rem;
    }

    .navbar a:hover {
        background-color: purple; /* Hover effect for navigation links */
        color: white;
    }

    .breathanimation:hover {
        border-radius: 0.5rem;
        animation: neon-glow 2s infinite alternate; /* Breathing neon glow */
    }

    /* Dropdown Button Styling */
    .dropbtn {
        background-color: #4B0082;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        border-radius: 0.5rem;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(40, 1, 55, 0.95); /* Dark purple background */
        width: auto;
        height: auto;
        max-height: 6rem;
        min-width: 7rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 999;
        overflow-y: scroll;
        top: 100%;
        left: 0;
        margin: 0;
        overflow-x: visible;
        border-radius: 0.5rem;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: purple; /* Hover effect for dropdown links */
    }

    .dropdown:hover .dropdown-content {
        display: block; /* Show dropdown content on hover */
    }

    .dropdown:hover .dropbtn {
        background-color: purple; /* Hover effect for dropdown button */
    }

    /* Main Content Styling */
    .content {
        background: black; /* Black background for main content area */
        z-index: 2;
    }

    /* Language Selector Styling */
    .languageList {
        position: absolute;
        top: 0.2rem;
        right: 1rem;
    }

    .goog-logo-link {
        display: none !important;
    }

    .goog-te-gadget {
        color: transparent !important;
        text-decoration: none;
    }

    .VIpgJd-ZVi9od-l4eHX-hSRGPd {
        display: none !important;
    }

    /* AudioPlayerButton */
    #audioPlayerBtn {
        position: absolute;
        top: 1.8rem;
        right: 1.5rem;
        z-index: 2;
    }
    /* Custom Scrollbar Styling */
    ::-webkit-scrollbar {
        width: 0.8rem; /* Set scrollbar width */
    }

    ::-webkit-scrollbar-track {
        background: #764f88; /* Scrollbar track background color */
        border-radius: 0.5rem;
    }

    ::-webkit-scrollbar-thumb {
        background: #4B0082; /* Scrollbar thumb color */
        border-radius: 0.4rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #2c1d33; /* Hover effect for scrollbar thumb */
    }

    /* Neon Glow Animation */
    @keyframes neon-glow {
        0% {
            box-shadow: 0 0 10px purple; /* Initial glow effect */
            transform: scale(1); /* Normal size */
            border-radius: 0.5rem; /* Rounded corners */
        }
        50% {
            box-shadow: 0 0 20px purple; /* Intensified glow effect */
            transform: scale(1.05); /* Slightly larger size */
        }
        100% {
            box-shadow: 0 0 10px purple; /* Back to initial glow */
            transform: scale(1); /* Normal size */
        }
    }

    /* Audio Player */
        /* Style for the audio player box */
        .audioplayer {
            border: 1px solid #ccc;
            padding: 0.1rem;
            width: 300px;
            margin: 0.1rem;
            border-radius: 10px;
        }

        /* Style for the popup container */
        .popup-container {
            position: fixed;
            bottom: 1rem;
            right: 1%;
            background-color: #fff;
            padding: 0.4rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            display: none; /* Initially hidden */
        }

        /* yt-play list */
        .yt-playlist {
            border: 3px solid #000;
            width: 100%;
            height: 100%;
        }

        .sp-playlist {
            width: 100%;
            height: 100%;
            border-radius:12px;
        }

        .sc-playlist {
            width: 100%;
            height: 100%;
        }
}
